{% extends 'base.html.twig' %}

{% block title %}Connexion - FlexFit
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="module" src="{{ asset('js/password-reveal.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="log-cont">
		{% include "components/header_app.html.twig" %}
		<section class="main-log">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{% if app.user %}
					<div class="mb-3 message">
						Vous êtes connecté(e) en tant que
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}" class="logout-link">
							se déconnecter</a>
					</div>
				{% endif %}
				<h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
				<div class="inputs-wrapper">
					<div for="inputEmail">
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Email" required autofocus>
					</div>
					<div for="inputPassword" class="input--password password-cont">
						<input type="password" name="password" id="inputPassword" class="form-control inputPassword" autocomplete="current-password" placeholder="Mot de passe" required>
						<i class="fa-regular fa-eye"></i>
					</div>
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" name="_remember_me">
						Se souvenir de moi
					</label>
				</div>
				<button class="button accent" type="submit">
					Se connecter
				</button>
			</form>
		</section>
		<div class="other-log">
			<p>Tu n'as pas de compte ?
				<a href="{{ path('app_register') }}">
					Inscris toi</a>
			</p>
		</div>
	</div>
{% endblock %}
