{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% include "components/header.html.twig" %}
	<main class="products-home">
		<section class="simple-hero">
			<div class="content">
				<h1>Découvrez la collection FlexFit</h1>
				<p>Explorez notre gamme de vêtements de sport intelligents alliant technologie de compression avancée et capteurs de suivi musculaire pour optimiser vos entraînements et accélérer votre récupération.</p>
			</div>
		</section>

		<section class="collections">
			<aside>
				<div class="heading">
					<h2>Produits</h2>
					<p>Divisez vos produits en catégories pour que les visiteurs puissent naviguer facilement.</p>
				</div>
				<div class="filters-cont">
					<a href="{{ path('app_home_products')}}" class="filter {% if not app.request.get('category') %}active{% endif %}" data-active="{{ not app.request.get('category') ? 'true' : 'false' }}">
						<span class="circle"></span>
						<p>Tous</p>
					</a>

					{% for category in categories %}
						<a href="{{ path('app_home_products', {'category': category.id}) }}" class="filter" data-active="{{ category.id == app.request.get('category') ? 'true' : 'false' }}">
							<span class="circle"></span>
							<p>{{ category.name }}</p>
						</a>
					{% endfor %}
				</div>
			</aside>
			<div class="articles-cont">
				{% for product in products %}
					{% set imagePath = product.mainImage ? 'uploads/images/' ~ product.mainImage.url : 'images/default.png' %}

					<a href="{{ path('app_product_shop', {'id': product.id}) }}">
						{% include "components/product_card.html.twig" with {
        'image': imagePath,
        'name': product.name,
        'price': product.price
    } %}
					</a>
				{% endfor %}
			</div>
		</section>

	</main>
	{% include "components/footer.html.twig" %}
{% endblock %}
