<footer>
	<div class="logo-cont">
		<img src="{{asset('images/logo-blanc.png')}}" alt="logo flexfit">
	</div>
	<div class="content">
		<div class="left">
			<p class="title">Inscrivez-vous et obtenez 20% de réduction sur votre premier achat.</p>
			<div class="email">
				<input type="email" placeholder="Votre e-mail">
				<button class="button">Rejoindre</button>
			</div>
		</div>
		<div class="right">
			<ul>
				<li class="title">Pages</li>
				<li>
					<a href="{{ path('app_product_index')}}">Produits</a>
				</li>
				<li>
					<a href="{{ path('app_product_index')}}">Collections</a>
				</li>
				<li>
					<a href="{{ path('app_product_index')}}">Blog</a>
				</li>
				<li>
					<a href="{{ path('app_product_index')}}">Contact</a>
				</li>
			</ul>
			<ul>
				<li class="title">Informations</li>
				<li>
					<a href="{{path('app_product_index')}}">CGV</a>
				</li>
				<li>
					<a href="{{path('app_product_index')}}">Mentions légales</a>
				</li>
				<li>
					<a href="{{path('app_product_index')}}">Cookies</a>
				</li>
			</ul>
			<div class="empty do-not-remove"></div>
		</div>
	</div>
</footer>
